@{
    ViewBag.Title = "Artist Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>My Artist Database</h1>
            <hr />
        </div>
    </div>
</div>